<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>The Sourcerer's Code</title>
  
</head>

<body>
  <header class="project-header">
    <h1 id="project-title">
      The Sourcerer's Code
    </h1>
    <!-- TODO: Add a comment describing the functionality of this helper -->
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">Logout</button>
    </nav>
    {{/if}}
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  <!-- TODO: Add a comment describing the functionality of this helper -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
