* {
    margin: 0;

}

button:hover{
    cursor: pointer;
}

header{
    display: flex;
    height: 5vh;
    justify-content: space-between;
    background-color: rgb(38, 45, 128);
    min-height: 50px;
}

h1{
    font-size: 2vw;
}

#logout{
    height: 100%;
    width: fit-content;
    font-size: 1vw;
    background-color: rgb(92, 92, 235);
    border: none;
}

#logout:hover{
    cursor: pointer;
}

#project-title{
    padding-left: 10px;
    padding-top: 10px;
}

/*********************************************LOG IN PAGE*/

/* Login form */

.login-page{
    color: white;
}

.login-form{
    position: absolute;
    top: 30%;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.61);    
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 15px;
}

.login-form h2{
    font-size: 3vw;
    margin-left: auto;
    text-align: center;
}

.login-form button{
    display: inline;
    font-size: 1.5vw;
    align-items: center;
    margin-left: 45%;
}

.login-form input{
    font-size: 1.5vw;
    margin-left: 1vw;
}

.input-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.5vw;
}

.login-form h2{
    margin-bottom: 15px;
}


.background-img img{
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

/* Sign-up-form */ 

.sign-up-form{
    position: absolute;
    top: 30%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.61);    
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 15px;
}

.sign-up-form h2{
    font-size: 3vw;
    text-align: center;
    margin-bottom: 15px;
}

.sign-up-form button{
    display: inline;
    font-size: 1.5vw;
    align-items: center;
    margin-left: 45%;
}

.sign-up-form input{
    font-size: 1.5vw;
    margin-left: 1vw;
}

/******************************HOMEPAGE***************************/
.home-section{
    margin: 10px;

}

#username-new-post{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#username-new-post button{
    margin-left: 10px;
    font-size: 1vw;
    background-color: rgb(92, 92, 235);
    border: none;
    border-radius: 10px;
}

/* Individual Posts */
.post{
    border: 2px solid black;
    width: 30vw;
    margin-bottom: 30px;
    padding: 10px;
    align-items: center;
}

/* edit/delete post buttons */
.edit-delete-post{
    position: relative;
    left: 10%;
    align-content: center;
}

.edit-delete-post button{
    font-size: .8vw;
}

/* post author & title */
.username-title{
    display: flex;
    border-bottom: 2px solid gray;
    text-align: center;
}
.post-username{
    font-size: 1.5vw;
    margin-right: 1vw;
}

.post-title{
    font-size: 1.5vw;
}

/* Post Body */ 
.post-body{
    padding-top: .5vw;
    padding-bottom: .75vw;
    font-size: 1vw;
}

/* comment section (NOT ACTUAL COMMENTS) */

.comments{
    display: flex;
}

.comments button{
    font-size: .8vw;
}

.comment-box{
    display: flex;
    flex-direction: column;
}

.comment-box textarea{
    resize: none;
    width: 12vw;
    font-size: 1vw;
}

.show-hide-comments{
    margin-left: 15%;
}

.comment{
    border: 1px solid gray;
    padding: .3vw;
    margin-top: .5vw;
    margin-bottom: .5vw;
    font-size: 1vw;
}

