* {
    margin: 0;

}
header{
    display: flex;
    height: 5vh;
    justify-content: space-between;
    background-color: rgb(38, 45, 128);
    min-height: 50px;
}

h1{
    font-size: 2vw;
}

#logout{
    height: 100%;
    width: fit-content;
    font-size: 1vw;
    background-color: rgb(92, 92, 235);
    border: none;
}

#logout:hover{
    cursor: pointer;
}

#project-title{
    padding-left: 10px;
    padding-top: 10px;
}

/*********************************************LOG IN PAGE*/

/* Login form */

.login-form{
    position: absolute;
    top: 30%;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.61);    
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 15px;
}

.login-form h2{
    font-size: 3vw;
    margin-left: auto;
    text-align: center;
}

.login-form button{
    display: inline;
    font-size: 1.5vw;
    align-items: center;
    margin-left: 45%;
}

.login-form input{
    font-size: 1.5vw;
    margin-left: 1vw;
}

.input-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.5vw;
}

.login-form h2{
    margin-bottom: 15px;
}


.background-img img{
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

/* Sign-up-form */ 

.sign-up-form{
    position: absolute;
    top: 30%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.61);    
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 15px;
}

.sign-up-form h2{
    font-size: 3vw;
    text-align: center;
    margin-bottom: 15px;
}

.sign-up-form button{
    display: inline;
    font-size: 1.5vw;
    align-items: center;
    margin-left: 45%;
}

.sign-up-form input{
    font-size: 1.5vw;
    margin-left: 1vw;
}